<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/pages.css">
    <title>Picto</title>
  </head>
  <body>
      <div class="navbar">
        <img class="logo-nav" src="../images/logo.png" alt="logo">
        <div class="dropdown">
          <button class="dropbtn">Pictures</button>
          <div class="dropdown-content">
            <a href="Landscape.html"class="dropm">Landscapes</a>
            <a href="computers.html"class="dropm">Computers</a>
            <a href="People.html"class="dropm">People</a>
          </div>
        </div>
        <a href="register.html">Register</a>
        <a href="login.html">Login</a>
        <a href="ContactUs.html">Contact Us</a>
        <a href="../index.html">Home</a>
  </div>
  <div class="main">

    <ul class="images">
    <li>
      <img src="../images/Computers1.jpg"width="400" height="250" alt="people on laptops" >
            <h4>By Josh Brown</h4>

    </li>
    <li>
      <img src="../images/Computers2.jpg"width="300" height="500" alt="person with laptop" >
            <h4>By James Down</h4>

    </li>
    <li>
      <img src="../images/Computers3.jpg"width="400" height="250" alt="Computers" >
            <h4>By Megan Klukluk</h4>

    </li>
    <li>
      <img src="../images/Computers4.jpg"width="400" height="300" alt="Computers" >
            <h4>By Howard Stark</h4>

    </li>
      <li>
        <img src="../images/Computers5.jpg"width="400" height="250" alt="Computers" >
              <h4>By Jame Barnes</h4>

    </li>
      <li>
      <img src="../images/Computers6.jpg"width="400" height="300" alt="Computers" >
            <h4>By Robert Mac Allister</h4>

    </li>
    <li>
      <img src="../images/Computers7.jpg"width="400" height="250" alt="Computers" >
            <h4>By Bruno Smith</h4>

    </li>
    <li>
      <img src="../images/Computers8.jpg"width="400" height="250" alt="Computers" >
            <h4>By Jim Gold</h4>

    </li>
    <li>
      <img src="../images/computers9.jpg"width="400" height="300" alt="Computers" >
            <h4>By Coraline Dunne</h4>

    </li>
</ul>
</div>
</body>
</html>
