<!DOCTYPE html>
<head>
<link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/pages.css">
  <title>Picto</title>
</head>
<body>
    <div class="navbar">
      <img class="logo-nav" src="../images/logo.png" alt="logo">
      <div class="dropdown">
        <button class="dropbtn">Pictures</button>
        <div class="dropdown-content">
          <a href="Landscape.html"class="dropm">Landscapes</a>
          <a href="computers.html"class="dropm">Computers</a>
          <a href="People.html"class="dropm">People</a>
        </div>
      </div>
      <a href="register.html">Register</a>
      <a href="login.html">Login</a>
      <a href="Contactus.html">Contact Us</a>
      <a href="../index.html">Home</a>

</div>
<form action="mailto:aaronjs3998@gmail.com"
method="POST"
enctype="multipart/form-data"
name="EmailForm">
    Name:<br>
    <input type="text" size="19" name="Contact-Name"><br><br>
    Email:<br>
    <input type="email" name="Contact-Email"><br><br>
    Message:<br>
    <textarea name="Contact-Message" rows="6″ cols="20″>
    </textarea><br><br>
    <button type="submit" value="Submit">Send</button>
</form>


</body>
</html>
