<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/pages.css">
    <title>Picto</title>
  </head>
  <body>
      <div class="navbar">
        <img class="logo-nav" src="../images/logo.png" alt="logo">
        <div class="dropdown">
          <button class="dropbtn">Pictures</button>
          <div class="dropdown-content">
            <a href="Landscape.html"class="dropm">Landscapes</a>
            <a href="computers.html"class="dropm">Computers</a>
            <a href="People.html"class="dropm">People</a>
          </div>
        </div>
        <a href="register.html">Register</a>
        <a href="login.html">Login</a>
        <a href="ContactUs.html">Contact Us</a>
        <a href="../index.html">Home</a>
  </div>
  <div class="main">

    <ul class="images">
    <li>
      <img src="../images/Landscape1.jpg" width="350" height="500" alt="Landscape" >
            <h4>By Jim Mclean</h4>

    </li>
    <li>
      <img src="../images/Landscape2.jpg" width="350" height="500" alt="Landscape" >
            <h4>By Robbie Sands</h4>

    </li>
    <li>
      <img src="../images/Landscape3.jpg" width="350" height="500" alt="Landscape" >
            <h4>By Heather Goodman</h4>

    </li>
    <li>
      <img src="../images/Landscape4.jpg" width="350" height="500" alt="Landscape" >
            <h4>By Ferran Good</h4>

    </li>
      <li>
        <img src="../images/Landscape5.jpg" width="350" height="350" alt="Landscape" >
              <h4>By Josh Gough</h4>

    </li>
      <li>
      <img src="../images/Landscape6.jpg" width="350" height="400" alt="Landscape" >
            <h4>By Dylan Hue</h4>

    </li>
    <li>
      <img src="../images/Landscape7.jpg" width="350" height="400" alt="Scottish Landscape" >
            <h4>By Miguel Almiron</h4>

    </li>
    <li>
      <img src="../images/Landscape8.jpg" width="350" height="350" alt="Scottish Landscape" >
            <h4>By Peter Parker</h4>

    </li>
    <li>
      <img src="../images/Landscape9.jpg" width="350" height="400" alt="Scottish Landscape" >
            <h4>By Charles Xavier</h4>
    </li>
</ul>
</div>
</body>
</html>
