<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
    <meta charset="utf-8">
      <link rel="stylesheet" href="../css/pages.css">
    <title>Picto</title>
  </head>
  <body>
    <div class="navbar">
      <img class="logo-nav" src="../images/logo.png" alt="logo">
      <div class="dropdown">
        <button class="dropbtn">Pictures</button>
        <div class="dropdown-content">
          <a href="Landscape.html"class="dropm">Landscapes</a>
          <a href="computers.html"class="dropm">Computers</a>
          <a href="People.html"class="dropm">People</a>
        </div>
      </div>
      <a href="Register.html">Register</a>
      <a href="Login.html">Login</a>
      <a href="Contactus.html">Contact Us</a>
      <a href="../index.html">Home</a>

</div>
    <form action="../index.html" method="post">
      <div class="imgcontainer">
      </div>

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>

  </body>
</html>
