<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/pages.css">
    <title>Picto</title>
  </head>
  <body>
      <div class="navbar">
        <img class="logo-nav" src="../images/logo.png" alt="logo">
        <div class="dropdown">
          <button class="dropbtn">Pictures</button>
          <div class="dropdown-content">
            <a href="Landscape.html"class="dropm">Landscapes</a>
            <a href="computers.html"class="dropm">Computers</a>
            <a href="People.html"class="dropm">People</a>
          </div>
        </div>
        <a href="register.html">Register</a>
        <a href="login.html">Login</a>
        <a href="ContactUs.html">Contact Us</a>
        <a href="../index.html">Home</a>
  </div>
  <div class="main">

		<ul class="images">
    <li>
      <img src="../images/People1.jpg" width="350" height="500" alt="Person looking into the camera" >
            <h4>By Homer Powers</h4>

    </li>
    <li>
      <img src="../images/People2.jpg"width="300" height="500" alt="Person reading" >
            <h4>By Mark Ledger</h4>

    </li>
    <li>
      <img src="../images/People3.jpg"width="300" height="500" alt="People walking in street" >
            <h4>By Morgan Slow</h4>

    </li>
    <li>
      <img src="../images/People4.jpg"width="400" height="300" alt="Class Lecture" >
            <h4>By Jeff Short</h4>

    </li>
	    <li>
        <img src="../images/People5.jpg"width="300" height="400" alt="Person petting Cat" >
              <h4>By Henry Wood</h4>

    </li>
	    <li>
			<img src="../images/People6.jpg"width="300" height="400" alt="person surfing" >
            <h4>By Tim Ten</h4>

    </li>
    <li>
      <img src="../images/People7.jpg"width="300" height="500" alt="person pushing parent in wheelchair" >
            <h4>By Fred Myers</h4>

    </li>
    <li>
      <img src="../images/People8.jpg"width="300" height="500" alt="Person playing bagpipes" >
            <h4>By Michael Green</h4>

    </li>
    <li>
      <img src="../images/People9.jpg"width="400" height="300" alt="Person playing bagpipes" >
            <h4>By Steve Larry</h4>

    </li>
</ul>
</div>
</body>
</html>
